DATABASE_URL=postgresql://user:password@localhost:5432/llm_chat
REDIS_URL=redis://localhost:6379
SECRET_KEY=e1d485ae29beb2bccf3ac30ce3162a6c1e478cdd4f57ef443acb9ab491eca9d3
GITHUB_CLIENT_ID=Ov23lis9I80Ql76mimkC
GITHUB_CLIENT_SECRET=d40f6db04bc34e10b099118d51cc660d5ddd4963
GITHUB_REDIRECT_URI=http://localhost:8000/auth/github/callback
